.grille1 {
  display:grid;
  grid-template-columns: 2fr 6fr 1fr  2fr 6fr;
  grid-template-rows:  auto auto auto ;
  position:relative;
  grid-template-areas:
    "u a . x d"
    "v b . y e"
    "w c . z f";
}

.a{
  grid-area: a;
  position:relative;
}
.b{
  grid-area: b;
  position:relative;
}
.c{
  grid-area: c;
  position:relative;
}
.d{
  grid-area: d;
  position:relative;
}
.e{
  grid-area: e;
  position:relative;
}
.f{
  grid-area: f;
  position:relative;
}

.u{
  grid-area: u;
  position:relative;
}
.v{
  grid-area: v;
  position:relative;
}
.w{
  grid-area: w;
  position:relative;
}
.y{
  grid-area: y;
  position:relative;
}
.x{
   grid-area: x;
   position:relative;
 }
.z{
  grid-area: z;
  position:relative;
}

.grille2 {
  display:grid;
  grid-template-columns: 1fr 2fr 100px 2fr 100px 2fr 100px 2fr 50px 2fr 1fr;
  grid-template-rows:  auto 50px auto ;
  position:relative;
  grid-template-areas:
  ". g . h . i . j . . ."
  ". g . h . i . j . k ."
  ". . . . . . . . . k .";
}

.g{
  grid-area: g;
  position:relative;
}
.h{
  grid-area: h;
  position:relative;
}
.i{
  grid-area: i;
  position:relative;
}
.j{
  grid-area: j;
  position:relative;
}
.k{
  grid-area: k;
  position:relative;
}